.DS_Store

/build

/workspaceCSCI4830-tech-ex-Kellogg/webproject-tech-ex-Kellogg/.settings

/workspaceCSCI4830-tech-ex-Kellogg/webproject-tech-ex-Kellogg/build

/workspaceCSCI4830-tech-ex-Kellogg/webproject-tech-ex-Kellogg/.classpath

/workspaceCSCI4830-tech-ex-Kellogg/webproject-tech-ex-Kellogg/.project

/workspaceCSCI4830-tech-ex-Kellogg/Servers

/workspaceCSCI4830-tech-ex-Kellogg/.metadata

/workspaceCSCI4830-tech-ex-Kellogg/webproject-tech-ex-Kellogg/WebContent/config.properties